@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans+KR:400,500,700&display=swap&subset=korean');
/* Button */
.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  word-break: break-all;
  cursor: pointer;
  vertical-align: middle;
}
.btn:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.btn-h28 {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 28px;
}
.btn-h28.btn-radius {
  border-radius: 14px;
}
.btn-h32 {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 32px;
}
.btn-h32.btn-radius {
  border-radius: 16px;
}
.btn-h42 {
  padding-right: 16px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 42px;
}
.btn-h42.btn-radius {
  border-radius: 21px;
}
.btn-h52 {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 52px;
}
.btn-h52.btn-radius {
  border-radius: 26px;
}
.btn-outline {
  border: 1px solid #eee;
  color: #666;
}
.btn-outline-blue {
  border: 1px solid #4638D6;
  color: #4638D6;
}
.btn-outline-red {
  border: 1px solid #FF5165;
  color: #FF5165;
}
.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;
}
.btn-fill-blue {
  background-color: #4638D6;
  color: #fff;
}
.btn-gradient {
  background: #4638d6;
  background: linear-gradient(135deg, #4638d6 0%, #20c4cb 100%);
  color: #fff;
}
/* Form */
input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
select,
textarea {
  box-sizing: border-box;
  padding: 6px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=file]:focus,
input[type=date]:focus,
select:focus,
textarea:focus {
  border: none;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
  background-color: #F0F2F7;
}
input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
select {
  height: 42px;
  vertical-align: middle;
}
input[type=checkbox],
input[type=radio] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 8px;
}
input[type=password] {
  -webkit-text-security: disc;
}
input[type=file] {
  padding-top: 11px;
  padding-bottom: 11px;
  line-height: normal;
}
input[type=date],
.i-date,
.i-birthday {
  background-image: url("../images/ico-calendar.png");
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}
textarea {
  resize: none;
  padding: 6px 10px !important;
}
select {
  padding: 6px 40px 6px 10px !important;
  border: 1px solid #eee !important;
  border-radius: 4px !important;
  background-color: #fff !important;
  background-image: url("../images/ico-arrow-down.png") !important;
  background-position: right 10px top 50% !important;
  background-repeat: no-repeat !important;
}
/*@radio-size:22px;
.radio-container{.block;.rel;.pl(@radio-size + 6px);.pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
	@media @moretablet{.pl(@radio-size + 12px)}
	input{.abs;.pointer;.opacity(0);
		&:checked ~ .checkmark:after{.block}
	}
	.checkmark{.boxsize;.abs;top:0;left:0;.w(@radio-size);.h(@radio-size);.b(@sky-blue);.radius-oval;.bgw;
		&:after{.center-abs(@radio-size - 10px,@radio-size - 10px);content:'';.hidden;.radius-oval;.bg(@sky-blue)}
	}
	&:hover input ~ .checkmark{.b(@sky-blue,2px)}
}*/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-container input:checked ~ .checkmark {
  border: none;
  background-color: #4638D6;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.checkbox-container .checkmark:after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  margin-top: -8px;
  margin-left: -4px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #4638D6;
}
.placeholder::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.placeholder:-ms-input-placeholder {
  color: #999;
}
.placeholder::-webkit-input-placeholder {
  color: #999;
}
.i-group input[type=radio]:not(:first-child),
.i-group input[type=checkbox]:not(:first-child) {
  margin-left: 20px;
}
.i-vertical > label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #333;
}
.search-board {
  margin-bottom: 24px;
  text-align: right;
}
.search-board input,
.search-board button[type=submit] {
  margin-left: 4px;
}
.search-board input[type=text],
.search-board input[type=search] {
  width: 240px;
}
.search-board .i-date {
  width: 140px !important;
}
.form > div:not(:first-child),
.form > textarea:not(:first-child),
.form > a:not(:first-child) {
  margin-top: 20px;
}
.form input[type=text],
.form input[type=password],
.form input[type=search],
.form input[type=number],
.form input[type=email],
.form input[type=tel],
.form input[type=file],
.form input[type=date],
.form textarea {
  width: 100%;
}
.form.box-shadow {
  -webkit-box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.page-mypage-account .form {
  padding: 40px 190px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #eee;
}
.page-analysis .sidebar {
  width: 280px;
  border: none;
}
.page-analysis .sidebar .form {
  padding: 20px;
}
.page-analysis .sidebar .form .i-group {
  position: relative;
}
.page-analysis .sidebar .form .i-group label span {
  position: absolute;
  right: 0;
  color: #999;
}
.page-analysis .sidebar .form textarea {
  height: 100px;
}
.page-analysis .nav-step.step2 + .form > div {
  text-align: center;
}
.page-analysis .nav-step.step2 + .form > div:not(:first-child) {
  margin-top: 80px;
}
.page-analysis .nav-step.step2 + .form > div > h3 {
  margin-bottom: 24px;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.page-analysis .nav-step.step2 + .form > div .text-scroll {
  text-align: left;
}
.page-analysis .nav-step.step2 + .form > div .checkbox-container {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 24px;
}
.page-analysis .nav-step.step2 + .form + div {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
  text-align: center;
}
.page-analysis .nav-step.step2 + .form + div .checkbox-container {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 16px;
  font-weight: 700;
}
.page-analysis .nav-step.step3 + .form {
  margin-bottom: 40px;
  padding: 40px 320px 80px;
}
.page-analysis .nav-step.step4 + .form {
  margin-bottom: 40px;
  padding: 40px 120px 80px;
}
/* List */
.list-horiz > li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.list-board {
  clear: both;
}
.list-board .board-header,
.list-board .board-article li {
  /*.dp-table;.w-full;*/
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: #666;
}
.list-board .board-header li,
.list-board .board-article span,
.list-board .board-article a,
.list-board .board-article div {
  box-sizing: border-box;
  display: block;
  float: left;
}
.list-board .board-header {
  border-top: 1px solid #000;
}
.list-board .board-article {
  clear: both;
  border-top: 1px solid #eee;
}
.list-board .board-article li {
  border-bottom: 1px solid #eee;
}
.list-board .board-article .cell-subject {
  color: #000;
}
.list-board .cell-subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
}
.list-board .cell-category {
  width: 110px;
}
.list-board .cell-number {
  width: 75px;
}
.list-board .cell-date {
  width: 112px;
}
.list-board .cell-period {
  width: 200px;
}
.list-board .cell-views {
  width: 75px;
}
.list-board .cell-count {
  width: 82px;
}
.list-board .cell-status {
  width: 100px;
}
.list-board .cell-button {
  padding-right: 20px;
}
.list-board .cell-button .btn {
  float: right;
  margin-right: 2px;
  margin-left: 2px;
}
.page-info .list-board .cell-subject {
  width: 614px;
}
.page-info .list-board .board-article li.notice .cell-number {
  color: #FF5165;
}
.page-info .list-board .board-article li.notice .cell-subject {
  font-weight: 700;
}
.page-mypage-reservation .list-board .cell-button {
  width: 320px;
}
.page-mypage-reservation .board-article .cell-category,
.page-mypage-reservation .board-article .cell-period {
  color: #000;
}
.page-mypage-reservation .board-article li span {
  margin-top: 6px;
}
.page-mypage-history .cell-category {
  width: 190px;
  padding-left: 20px;
  text-align: left;
}
.page-mypage-history .cell-subject {
  width: 362px;
}
.page-mypage-history .view-board + .list-board .board-header {
  border-top: 1px solid #eee;
}
.page-mypage-history .view-board + .list-board .cell-subject {
  width: 276px;
}
.page-mypage-history .view-board + .list-board + a {
  float: right;
  margin-top: 40px;
}
.view-board .board-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #eee;
}
.view-board .board-header li:first-child {
  font-size: 24px;
  font-weight: 700;
}
.view-board .board-header li:last-child {
  margin-top: 16px;
}
.view-board .board-header li:last-child span {
  text-align: center;
}
.view-board .board-header li:last-child span:not(:first-child) {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
}
.view-board > div {
  padding-top: 24px;
  border-bottom: 1px solid #eee;
}
.view-board > div p,
.view-board > div img {
  margin-bottom: 40px;
}
.view-board > div p {
  line-height: 2;
}
.view-board > dl {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.view-board > dl dt {
  clear: both;
  float: left;
  width: 120px;
  margin-right: 40px;
  font-weight: 700;
}
.view-board > dl dd {
  overflow: hidden;
}
.view-board > dl a {
  display: block;
  text-decoration: underline;
}
.view-board > dl a:not(:first-child) {
  margin-top: 12px;
}
.board-prevnext a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  position: relative;
  max-width: 320px;
}
.board-prevnext a:first-child {
  padding-left: 79px;
}
.board-prevnext a:first-child span {
  left: 24px;
  padding-right: 12px;
  border-right: 1px solid #eee;
}
.board-prevnext a:last-child {
  padding-right: 79px;
}
.board-prevnext a:last-child span {
  right: 24px;
  padding-left: 12px;
  border-left: 1px solid #eee;
}
.board-prevnext a span {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -12px;
}
/* Modals */
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
}
@media (min-width:769px) {
  .modal {
    -webkit-overflow-scrolling: touch;
  }
}
.modal.fade .modal-dialog {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: visibility 0.6s, opacity 0.6s /*;.transition-transform(~"0.3s ease-out")*/;
}
.modal.in .modal-dialog {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: auto;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100%;
}
.modal-dialog-centered::before {
  display: block;
  height: 100vh;
  content: "";
}
.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-content {
  position: relative;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2);
  outline: 0;
}
.modal-header {
  position: relative;
  z-index: 1;
}
.modal-header .close {
  display: inline-block;
  *display: inline;
  zoom: 1;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  word-break: break-all;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 10px;
  height: 10px;
  background-image: url("../images/ico-modal-close.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  color: transparent;
  text-shadow: none;
  text-indent: -9999px;
}
.modal-header .close:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.modal-header.modal-title {
  height: 48px;
  border-bottom: 1px solid #eee;
}
.modal-header.modal-title h3 {
  margin-right: 50px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
}
.modal-body {
  position: relative;
}
.modal-footer button {
  min-width: 96px;
  margin-right: 4px;
  margin-left: 4px;
}
.modal-default {
  width: 360px;
  min-height: 300px;
}
.modal-default .modal-body,
.modal-default .modal-footer {
  text-align: center;
}
.modal-default .modal-title + .modal-body {
  padding: 20px 20px 10px;
}
.modal-default .modal-body {
  padding: 30px 20px 10px;
}
.modal-default .modal-body h3 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.modal-default .modal-body p {
  margin-top: 4px;
  color: #666;
}
.modal-default .modal-body input {
  width: 100%;
}
.modal-default .modal-footer {
  padding: 10px 20px 24px;
}
.modal-reservation-extend {
  width: 1070px;
}
.modal-reservation-extend .modal-body {
  overflow: hidden;
  padding: 24px 20px;
}
.modal-reservation-extend .modal-body .form {
  float: left;
  width: 240px;
}
.modal-reservation-extend .modal-body .form .checkbox-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-reservation-extend .modal-body .form textarea {
  height: 60px;
}
.modal-reservation-extend .modal-body .calendar-wrap {
  float: right;
  width: 770px;
}
.modal-reservation-extend .modal-body .calendar-wrap .calendar {
  float: left;
}
.modal-reservation-extend .modal-body .calendar-wrap .calendar-header {
  margin-bottom: 16px;
}
/* header */
header {
  position: relative;
  height: 200px;
  background-image: url("../images/bg-header.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 1000;
}
nav {
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-brand {
  float: left;
}
.navbar-brand .brand-image {
  display: block;
  width: 162px;
  height: 26px;
  color: transparent;
  text-shadow: none;
  text-indent: -9999px;
  background-image: url("../images/logo.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-gnb {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  margin-top: -3px;
}
.nav-gnb > li {
  float: left;
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 8px;
}
.nav-gnb > li > a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.nav-account {
  float: right;
}
.nav-gnb > li,
.nav-account > li {
  position: relative;
  padding-bottom: 20px;
}
.nav-gnb > li:hover ul,
.nav-account > li:hover ul {
  display: block;
}
.nav-gnb ul,
.nav-account ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 140px;
  border-radius: 4px;
  background-color: #fff;
  z-index: 100;
}
.nav-gnb ul > li:first-child a,
.nav-account ul > li:first-child a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.nav-gnb ul > li:last-child a,
.nav-account ul > li:last-child a {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-gnb ul > li > a,
.nav-account ul > li > a {
  display: block;
  padding: 8px 16px;
  font-size: 13px;
  text-align: left;
  color: #333;
}
.nav-gnb ul > li > a:hover,
.nav-account ul > li > a:hover {
  background-color: #F0F2F7;
}
/* Footer */
footer {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #eee;
}
footer > div {
  overflow: hidden;
}
footer > div > dl {
  position: relative;
  padding-left: 88px;
}
footer > div > dl:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 40px;
  margin-top: -20px;
  background-color: #eee;
}
footer > div > dl:not(:last-child) {
  float: left;
}
footer > div > dl:first-child dd {
  font-size: 28px;
  font-family: 'Montserrat';
  font-weight: 700;
}
footer > div > dl:first-child:before {
  width: 3px;
  background-color: #000;
}
footer > div > dl:nth-child(2) {
  margin-left: 88px;
}
footer > div > dl:last-child {
  float: right;
}
footer > div > dl dt {
  color: #666;
}
footer > div > dl dd {
  margin-top: 8px;
}
footer p {
  margin-top: 80px;
  font-size: 12px;
  text-align: center;
  font-family: 'Montserrat';
}
/* Sidebar */
.sidebar {
  float: left;
  width: 160px;
  border-top: 1px solid #eee;
}
.sidebar li {
  border-bottom: 1px solid #eee;
}
.sidebar li a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  color: #666;
}
.sidebar li a.selected {
  background-image: url("../images/ico-arrow-right.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  font-weight: 700;
  color: #000;
}
.page-analysis-date .sidebar {
  width: 280px;
  border: none;
}
/* step */
.nav-step {
  margin-bottom: 80px;
  text-align: center;
}
.nav-step ol {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.nav-step ol > * {
  display: table-cell;
}
.nav-step ol li {
  box-sizing: border-box;
  position: relative;
  width: 170px;
  padding-top: 32px;
  font-size: 13px;
  color: #333;
}
.nav-step ol li:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ddd;
  z-index: 1;
}
.nav-step ol li span {
  content: '';
  position: absolute;
  top: -26px;
  left: 50%;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  border-radius: 50%;
  border: 2px solid #ddd;
  background-color: #fff;
  line-height: 42px;
  text-align: center;
  font-size: 13px;
  font-family: 'Montserrat';
  z-index: 10;
}
.nav-step ol li a,
.nav-step ol li div {
  display: block;
}
.nav-step ol li.disabled a {
  cursor: default;
}
.nav-step ol li.done span {
  border: 2px solid #20C4CB;
  background-color: #20C4CB;
  background-image: url("../images/ico-step-check.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: transparent;
  text-shadow: none;
  text-indent: -9999px;
}
.nav-step ol li.selected span {
  border: 2px solid #20C4CB;
}
.nav-step ol li:first-child:before {
  left: 50%;
}
.nav-step ol li:last-child:before {
  right: 50%;
}
/* Pagination */
.pagination {
  overflow: hidden;
  margin-top: 32px;
  text-align: center;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 4px;
}
.pagination li {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}
.pagination li.selected {
  background-color: #333;
  color: #fff;
}
.pagination li:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination li:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination a {
  display: block;
  line-height: 42px;
  font-family: 'Montserrat';
}
.pagination .prev,
.pagination .next {
  color: transparent;
  text-shadow: none;
  text-indent: -9999px;
}
.pagination .prev {
  background-image: url("../images/ico-page-prev.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.pagination .next {
  background-image: url("../images/ico-page-next.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* Reset */
html {
  -webkit-text-size-adjust: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
fieldset,
form,
legend,
p,
blockquote,
th,
td,
label,
input,
select,
textarea,
button,
a {
  margin: 0;
  padding: 0;
}
dl,
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h2,
h3,
h4,
h5,
h6,
address,
em,
i.strong,
th {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
fieldset {
  border: none;
}
/*input,label,*/
select {
  vertical-align: middle;
}
a:focus,
button:focus,
textarea:focus,
input:focus,
select:focus,
li:focus {
  outline: none;
}
input[type=button],
select {
  cursor: pointer;
}
input[type=button],
input[type=submit],
select {
  border: none;
  background: none;
}
input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
select,
textarea {
  -webkit-appearance: none /*;-webkit-border-radius:0*/;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
button {
  border: none;
  background: transparent;
}
table {
  border-spacing: 0;
}
/* Scaffolding */
html,
body {
  min-height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  min-width: 1280px;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Apple SD Gothic Neo', '애플 SD 산돌고딕 Neo', 'Montserrat', 'Noto Sans KR', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif;
  color: #333;
}
a,
h1,
h2,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
select,
button,
small,
p,
span,
dl,
ul,
ol {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.5;
}
* {
  -webkit-overflow-scrolling: touch;
}
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
a {
  cursor: pointer;
}
/* Shortcut */
/* layout */
.block {
  display: block;
}
.in-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}
.overh {
  overflow: hidden;
}
.over-y-auto {
  overflow-y: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
/* width, height */
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.w200 {
  width: 200px !important;
}
/* margin, padding */
.mauto {
  margin: auto;
}
.mb16 {
  margin-bottom: 16px;
}
/* border */
.bnone {
  border: none;
}
.btb {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.bt {
  border-top: 1px solid #eee;
}
.br {
  border-right: 1px solid #eee;
}
.bb {
  border-bottom: 1px solid #eee;
}
.blnone {
  border-left: none;
}
.bl {
  border-left: 1px solid #eee;
}
.radius {
  border-radius: 4px;
}
/* background */
.bgnone {
  background: none;
}
.bgcnone {
  background-color: transparent;
}
.bgw {
  background-color: #fff;
}
/* text */
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.nowrap {
  white-space: nowrap;
}
.tu {
  text-decoration: underline;
}
.text-cancel {
  text-decoration: line-through;
}
.lh {
  line-height: 1.5;
}
.text-hidden {
  color: transparent;
  text-shadow: none;
  text-indent: -9999px;
}
.upper {
  text-transform: uppercase;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #FF5165;
}
.text-blue {
  color: #4638D6;
}
.light {
  font-weight: 200;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.dotum {
  font-family: '돋움', dotum;
}
.montserrat {
  font-family: 'Montserrat';
}
/* etc */
.valign {
  vertical-align: middle;
}
.l {
  outline: 1px solid #f00;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-initialized .slick-slide,
.slick-initialized .slick-dots,
.slick-initialized .slick-arrow {
  visibility: visible;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-about .slick-dots {
  bottom: 12px;
}
.page-about .slick-dots li button {
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.page-about .slick-dots li.slick-active button {
  opacity: 1;
  filter: alpha(opacity=100);
}
.page-home .slick-dots {
  bottom: 0;
}
.page-home .slick-dots li button {
  border-radius: 50%;
  background-color: #ddd;
}
.page-home .slick-dots li.slick-active button {
  background-color: #4638D6;
}
/* Tabs */
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
/* Tables */
.table {
  width: 100%;
  max-width: 100%;
}
.table tr > th,
.table tr > td {
  padding: 16px 20px;
}
.table-stripe {
  border-top: 1px solid #eee;
}
.table-stripe th,
.table-stripe td {
  padding: 8px;
  border-bottom: 1px solid #eee;
}
.calendar-wrap {
  position: relative;
}
.calendar-wrap .contents-title {
  margin-right: 24px;
  font-size: 16px;
  font-weight: 400;
}
.calendar-wrap > .btn-group button {
  margin-right: 2px;
  margin-left: 2px;
}
.calendar-wrap > .bu-dot {
  position: absolute;
  top: 5px;
  right: 0;
}
.calendar-wrap > .bu-dot > li {
  position: relative;
  padding-left: 20px;
}
.calendar-wrap > .bu-dot > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #eee;
}
.calendar-wrap > .bu-dot .bu-dot-green:before {
  background-color: #20C4CB;
}
.calendar-wrap > .bu-dot > li {
  float: left;
  font-size: 12px;
  color: #666;
}
.calendar-wrap > .bu-dot > li:not(:first-child) {
  margin-left: 32px;
}
.calendar {
  clear: both;
  margin-top: 12px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.calendar .calendar-header {
  position: relative;
  margin: 20px 20px 28px;
}
.calendar .calendar-header h3 {
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
}
.calendar .calendar-header .btn-group {
  position: absolute;
  top: 0;
  right: 0;
}
.calendar .calendar-header .btn-group button {
  border: 1px solid #eee;
  color: #666;
  display: block;
  float: left;
  width: 44px;
  height: 32px;
  border-radius: 0;
  color: transparent;
  text-shadow: none;
  text-indent: -9999px;
}
.calendar .calendar-header .btn-group button.prev {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  background-image: url("../images/ico-page-prev.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.calendar .calendar-header .btn-group button.next {
  border-left: none;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  background-image: url("../images/ico-page-next.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.calendar > table {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}
.calendar > table tr > th,
.calendar > table tr > td {
  padding: 16px 20px;
}
.calendar > table th,
.calendar > table td {
  width: 123px;
  text-align: right;
}
.calendar > table td {
  vertical-align: top;
  font-family: 'Montserrat';
}
.calendar > table > thead th {
  font-weight: 400;
  color: #999;
}
.calendar > table > tbody > tr > td {
  border-top: 1px solid #eee;
}
.calendar > table > tbody > tr > td:not(:first-child) {
  border-left: 1px solid #eee;
}
.calendar > table > tbody > tr > td:first-child > span,
.calendar > table > tbody > tr > td:last-child > span,
.calendar > table > tbody > tr > td.past > span,
.calendar > table > tbody > tr > td.holiday > span,
.calendar > table > tbody > tr > td:first-child .bu-dot,
.calendar > table > tbody > tr > td:last-child .bu-dot,
.calendar > table > tbody > tr > td.past .bu-dot,
.calendar > table > tbody > tr > td.holiday .bu-dot {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.calendar > table > tbody > tr > td:first-child,
.calendar > table > tbody > tr > td:last-child,
.calendar > table > tbody > tr > td.holiday {
  color: #FF5165;
}
.calendar > table > tbody > tr > td.today {
  background-color: #F0F2F7;
}
.calendar > table > tbody > tr > td.today > span {
  font-weight: 700;
}
.calendar > table > tbody > tr > td > span {
  text-transform: uppercase;
}
.calendar .bu-dot {
  text-align: left;
}
.calendar .bu-dot > li {
  position: relative;
  padding-left: 20px;
}
.calendar .bu-dot > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #eee;
}
.calendar .bu-dot .bu-dot-green:before {
  background-color: #20C4CB;
}
.calendar .bu-dot > li {
  margin-top: 4px;
  font-size: 12px;
  color: #666;
}
/* Typography */
.page-title {
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -590px;
  text-align: left;
}
.page-title span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  padding-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.page-title span:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
}
.contents-title {
  float: left;
  margin-top: 3px;
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
}
.contents-title span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #eee;
  font-size: 16px;
  vertical-align: middle;
}
.text-16 {
  font-size: 16px;
}
.text-24-bold {
  font-size: 24px;
  font-weight: 700;
}
.text-scroll {
  overflow-y: auto;
  height: 200px;
  padding: 24px;
  border: 1px solid #eee;
}
.text-scroll > li:not(:first-child) {
  margin-top: 24px;
}
.text-scroll > li:not(:first-child) h2 {
  margin-top: 40px;
}
.text-scroll > li > * {
  color: #333;
}
.text-scroll > li p:not(:first-child) {
  margin-top: 8px;
}
.text-scroll > li span {
  color: #4638D6;
}
.text-scroll h2 {
  font-size: 18px;
  font-weight: 700;
}
.text-scroll h3 {
  font-weight: 700;
}
.text-scroll .bu-dot > li {
  position: relative;
  padding-left: 20px;
}
.text-scroll .bu-dot > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #999;
}
.text-scroll .bu-dot .bu-dot-green:before {
  background-color: #20C4CB;
}
.text-scroll .bu-dot > li {
  margin-top: 8px;
  padding-left: 16px;
}
.text-scroll .bu-dot > li:before {
  width: 4px;
  height: 4px;
  margin-top: -6px;
}
.text-scroll .bu-minus,
.text-scroll .bu-decimal-dot {
  margin-top: 4px;
}
.text-scroll .table-stripe {
  width: 100%;
  margin-top: 8px;
}
/* Variables */
/* Layout */
/* border */
/* Colors */
/* list */
/* Form */
/* Button */
/* Utilities */
.dp-table {
  display: table;
}
.dp-table > * {
  display: table-cell;
}
/* Align */
.horiz-center {
  position: relative;
  float: right;
  left: -50%;
}
.horiz-center > * {
  position: relative;
  float: left;
  left: 50%;
}
.horiz-center .btn {
  margin-right: auto;
  margin-left: auto;
}
.vert-middle:before,
.vert-middle > * {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.vert-middle:before {
  content: '';
  height: 100%;
}
.bu-minus > li {
  position: relative;
  padding-left: 16px;
}
.bu-minus > li:before {
  content: '-';
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
}
.bu-decimal-dot {
  counter-reset: ol-counter;
}
.bu-decimal-dot > li {
  position: relative;
  padding-left: 16px;
}
.bu-decimal-dot > li:before {
  content: counter(ol-counter) ".";
  counter-increment: ol-counter;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 8px;
}
/* Common */
a[href="#container"] {
  display: none;
}
#container {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-wrap {
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
}
.contents {
  float: right;
  width: 920px;
}
.contents-header {
  height: 42px;
  margin-bottom: 24px;
}
.contents-footer {
  clear: both;
  overflow: hidden;
  float: left;
  width: 100%;
  margin-top: 40px;
}
.contents-footer a:first-child,
.contents-footer button:first-child {
  float: left;
}
.contents-footer a:last-child,
.contents-footer button:last-child {
  float: right;
}
/* page */
.page-analysis .contents {
  width: 861px;
}
.page-data .content-wrap {
  text-align: center;
}
.page-data .content-wrap > a {
  width: 240px;
}
.page-data .content-wrap > ul {
  margin-top: 80px;
}
.page-data .content-wrap > ul > li {
  float: left;
  width: 226px;
  text-align: left;
}
.page-data .content-wrap > ul > li:not(:first-child) {
  margin-left: 12px;
}
.page-data .content-wrap > ul > li:nth-child(2n) h3 {
  background-color: #f4f4f4;
}
.page-data .content-wrap > ul > li h3,
.page-data .content-wrap > ul > li li {
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.page-data .content-wrap > ul > li h3 {
  font-size: 24px;
  font-weight: 700;
}
.page-data .content-wrap > ul > li li {
  margin-top: 10px;
  font-size: 16px;
}
.page-howtouse .content-wrap > div:not(:first-child) {
  margin-top: 80px;
  padding-top: 80px;
  border-top: 1px solid #eee;
}
.page-howtouse .content-wrap > div h3 {
  font-size: 24px;
  font-weight: 700;
}
.page-howtouse .content-wrap > div ol {
  overflow: hidden;
}
.page-howtouse .content-wrap > div ol li {
  float: left;
  width: 240px;
  padding-right: 44px;
  text-align: center;
}
.page-howtouse .content-wrap > div ol li:not(:last-child) {
  margin-right: 10px;
  background-image: url("../images/ico-howtouse-arrow.png");
  background-position: 100% 32px;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div ol li:nth-child(-n+5) {
  margin-top: 40px;
}
.page-howtouse .content-wrap > div ol li:nth-child(n+5):nth-child(-n+7) {
  margin-top: 64px;
}
.page-howtouse .content-wrap > div ol li p {
  margin-top: 24px;
  color: #000;
}
.page-howtouse .content-wrap > div ol li p span {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-family: 'Montserrat';
  color: #999;
}
.page-howtouse .content-wrap > div i {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 88px;
  height: 88px;
  border: 1px solid #eee;
  border-radius: 50%;
}
.page-howtouse .content-wrap > div:first-child ol li:first-child i {
  background-image: url("../images/ico-menu-green.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:first-child ol li:nth-child(2) i {
  background-image: url("../images/ico-calendar-green.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:first-child ol li:nth-child(3) i {
  background-image: url("../images/ico-edit-green.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:first-child ol li:nth-child(4) i {
  background-image: url("../images/ico-check-oval-green.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:first-child ol li:nth-child(5) i {
  background-image: url("../images/ico-face-green.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:first-child ol li:nth-child(6) i {
  background-image: url("../images/ico-upload-green.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:first-child ol li:last-child i {
  background-image: url("../images/ico-check.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:nth-child(2) ol li:first-child i {
  background-image: url("../images/ico-menu-yellow.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:nth-child(2) ol li:nth-child(2) i {
  background-image: url("../images/ico-calendar-yellow.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:nth-child(2) ol li:nth-child(3) i {
  background-image: url("../images/ico-edit-yellow.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:nth-child(2) ol li:nth-child(4) i {
  background-image: url("../images/ico-check-oval-yellow.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:nth-child(2) ol li:nth-child(5) i {
  background-image: url("../images/ico-face-yellow.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-howtouse .content-wrap > div:nth-child(2) ol li:last-child i {
  background-image: url("../images/ico-check.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.classroom-guide {
  margin-top: 80px;
  text-align: center;
}
.classroom-guide h3 {
  font-size: 24px;
  font-weight: 700;
}
.classroom-guide i {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 88px;
  height: 88px;
  border: 1px solid #eee;
  border-radius: 50%;
}
.classroom-guide > p {
  margin-top: 12px;
  font-size: 16px;
  color: #666;
}
.classroom-guide ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 40px;
}
.classroom-guide ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 75px;
  margin-left: 75px;
  font-size: 16px;
  font-family: 'Montserrat';
  color: #000;
}
.classroom-guide ul li i {
  margin-right: 24px;
  vertical-align: middle;
}
.classroom-guide ul li:first-child i {
  background-image: url("../images/ico-headset-gray.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.classroom-guide ul li:last-child i {
  background-image: url("../images/ico-email-gray.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-about .content-wrap > div:not(:first-child) {
  margin-top: 80px;
}
.page-about .content-wrap > div:nth-child(3),
.page-about .content-wrap > div:last-child {
  padding-top: 80px;
  border-top: 1px solid #eee;
}
.page-about .content-wrap > div > h3 {
  font-size: 24px;
  font-weight: 700;
}
.page-about .content-wrap > div > h3 + * {
  margin-top: 24px;
}
.page-about .content-wrap > div:first-child > div {
  padding: 40px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.page-about .content-wrap > div:first-child dl {
  overflow: hidden;
}
.page-about .content-wrap > div:first-child dl dt {
  clear: both;
  float: left;
  width: 120px;
  margin-right: 40px;
  font-weight: 700;
}
.page-about .content-wrap > div:first-child dl dd {
  overflow: hidden;
}
.page-about .content-wrap > div:first-child dl:first-child li:last-child {
  margin-top: 12px;
}
.page-about .content-wrap > div:first-child dl:last-child {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
}
.page-about .content-wrap > div:first-child dl:last-child li:not(:last-child) {
  float: left;
}
.page-about .content-wrap > div:first-child dl:last-child li:nth-child(2) {
  margin-left: 180px;
}
.page-about .content-wrap > div:first-child dl:last-child li:last-child {
  float: right;
}
.page-about .content-wrap > div:first-child dt {
  font-size: 16px;
}
.page-about .content-wrap > div:first-child ul > li {
  position: relative;
  padding-left: 20px;
}
.page-about .content-wrap > div:first-child ul > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #eee;
}
.page-about .content-wrap > div:first-child ul .bu-dot-green:before {
  background-color: #20C4CB;
}
.page-about .content-wrap > div:first-child li {
  font-size: 16px;
  color: #666;
}
.page-about .content-wrap > div:first-child li:before {
  background-color: #20C4CB !important;
}
.page-about .content-wrap > div:nth-child(2) ul {
  overflow: hidden;
  margin-top: 40px;
}
.page-about .content-wrap > div:nth-child(2) li {
  float: left;
  width: 320px;
  text-align: center;
}
.page-about .content-wrap > div:nth-child(2) li:not(:first-child) {
  margin-left: 110px;
}
.page-about .content-wrap > div:nth-child(2) li i {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.page-about .content-wrap > div:nth-child(2) li p {
  margin-top: 32px;
  font-size: 16px;
  color: #666;
}
.page-about .content-wrap > div:nth-child(2) li p strong {
  display: block;
  margin-bottom: 24px;
  color: #000;
}
.page-about .content-wrap > div:nth-child(2) li:first-child i {
  width: 88px;
  height: 88px;
  background-image: url("../images/ico-presentation.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-about .content-wrap > div:nth-child(2) li:nth-child(2) i {
  width: 88px;
  height: 88px;
  background-image: url("../images/ico-hub.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-about .content-wrap > div:nth-child(2) li:last-child i {
  width: 96px;
  height: 88px;
  background-image: url("../images/ico-support.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-about .content-wrap > div:nth-child(3) > div:last-child {
  margin-top: 64px;
}
.page-about .content-wrap > div:nth-child(3) > div > h5 {
  font-size: 16px;
  font-weight: 700;
}
.page-about .content-wrap > div:nth-child(3) > div > ul {
  overflow: hidden;
  margin-top: 16px;
}
.page-about .content-wrap > div:nth-child(3) > div > ul > li {
  float: left;
  width: 540px;
}
.page-about .content-wrap > div:nth-child(3) > div > ul > li:last-child {
  margin-left: 100px;
}
.page-about .content-wrap > div:nth-child(3) > div > ul > li > p {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}
.page-about .content-wrap > div:nth-child(3) .carousel > li,
.page-about .content-wrap > div:nth-child(3) .carousel .slick-slide {
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
}
.page-about .content-wrap > div:nth-child(3) .bu-dot > li {
  position: relative;
  padding-left: 20px;
}
.page-about .content-wrap > div:nth-child(3) .bu-dot > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #eee;
}
.page-about .content-wrap > div:nth-child(3) .bu-dot .bu-dot-green:before {
  background-color: #20C4CB;
}
.page-about .content-wrap > div:nth-child(3) .bu-dot li {
  font-size: 16px;
  color: #666;
}
.page-about .content-wrap > div:nth-child(3) .bu-dot li:not(:first-child) {
  margin-top: 12px;
}
.page-about .content-wrap > div:nth-child(3) .bu-dot li:before {
  background-color: #20C4CB !important;
}
.page-about .content-wrap > div:last-child > p {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  color: #000;
}
.page-about .content-wrap > div:last-child > div {
  overflow: hidden;
}
.page-about .content-wrap > div:last-child > div h5 {
  font-size: 16px;
  font-weight: 700;
}
.page-about .content-wrap > div:last-child > div dl {
  float: left;
  width: 540px;
}
.page-about .content-wrap > div:last-child > div dl:last-child {
  margin-left: 100px;
}
.page-about .content-wrap > div:last-child > div dt {
  position: relative;
  margin-top: 12px;
  margin-bottom: 8px;
  padding-left: 20px;
  font-size: 16px;
  color: #666;
}
.page-about .content-wrap > div:last-child > div dt:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #20C4CB;
}
.page-about .content-wrap > div:last-child > div dd {
  color: #333;
}
.page-home header {
  height: 500px;
}
.page-home header > div {
  margin-top: 50px;
  text-align: center;
}
.page-home header > div h1,
.page-home header > div p {
  color: #fff;
}
.page-home header > div h1 {
  font-size: 40px;
  font-weight: 700;
}
.page-home header > div p {
  margin-top: 16px;
  font-size: 16px;
}
.page-home header > div div {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 48px;
}
.page-home header > div div a {
  width: 160px;
  margin-right: 8px;
  margin-left: 8px;
}
.page-home .content-wrap {
  overflow: hidden;
}
.page-home .content-wrap .row {
  overflow: hidden;
}
.page-home .content-wrap .row > div {
  width: 540px;
}
.page-home .content-wrap .row > div:first-child {
  float: left;
}
.page-home .content-wrap .row > div:last-child {
  float: right;
}
.page-home .content-wrap .row > div > h3 {
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
.page-home .content-wrap .row > div > h3 span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.page-home .content-wrap .row:last-child {
  margin-top: 80px;
}
.page-home .content-wrap .row:last-child > div:first-child li {
  overflow: hidden;
}
.page-home .content-wrap .row:last-child > div:first-child li:not(:first-child) {
  margin-top: 12px;
}
.page-home .content-wrap .row:last-child > div:first-child li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 450px;
  color: #000;
}
.page-home .content-wrap .row:last-child > div:first-child li span {
  float: right;
  color: #666;
}
.page-home .content-wrap .row:last-child > div:last-child .carousel {
  padding-bottom: 20px;
}
.page-home .content-wrap .row:last-child > div:last-child .carousel > li a,
.page-home .content-wrap .row:last-child > div:last-child .carousel .slick-slide a {
  display: block;
  height: 152px;
  background-size: cover;
  background-position: 50% 50%;
  color: transparent;
  text-shadow: none;
  text-indent: -9999px;
}

/*# sourceMappingURL=style.css.map */